{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>ChatNova</title>
</head>
<body>
    
    <header>
        <h1>ChatNova</h1>
    </header>

    <div id="content">
        <h2>Welcome to ChatNova. A simple but powerful chat application</h2>
        <br><br>
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/login">Log in</a>
    </div>


    
</body>
</html>